*{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

h1,legend{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

h2{
    color: whitesmoke;
}

header{
    padding-left: 10px;
    color: white;
}

.centrado{
    text-align: center;
}

div i{
    font-size: 30px;
    color: white;
    padding: 8px;
}

input{
    color: white;
}

input[type=text]{
    border: none;
    border-bottom: 2px solid red;
}

input[type=text]:focus {
    border: 3px solid #555;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

select{
    color: white;
}

textarea{
    color: white;
}

.boton,input[type=submit],.boton_tiro {
    margin: 5px;
    color: rgb(255, 255, 255); 
    font-size: 27px; 
    line-height: 27px; 
    padding: 18px; 
    border-radius: 26px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, grey,grey 100%); 
    box-shadow: rgba(0, 0, 0, 0) -100px -100px 0px 0px; 
    border: 0px solid rgb(28, 110, 164); 
    display: inline-block;}
    .boton:hover {
        background:rgb(201, 201, 201);
        padding: 19px;    
    }
    .boton:active {
        background:rgb(201, 201, 201); }

div.dice{
    float:left;
    width:32px;
    background:#d80000;
    border:#999 1px solid;
    padding:10px;
    font-size:24px;
    text-align:center;
    margin:5px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}